/*.chart-plot-background {*/
    /*-fx-background-color: white;*/
/*}*/

.chart-line-symbol {
    -fx-background-insets: 0,1;
    -fx-background-radius: 2px;
    -fx-padding: 2px;
}

.chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}
.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: green; }
.chart-line-symbol.series0 { -fx-background-color: blue, white; }
.chart-line-symbol.series1 { -fx-background-color: green, white; }


/*.chart-series-line.series0 {*/
    /*-fx-stroke: green;*/
/*}*/
/*.chart-line-symbol.series0 {*/
    /*-fx-background-color: green, white;*/
/*}*/

/*.chart-series-line.series1 {*/
    /*-fx-stroke: black;*/
/*}*/
/*.chart-line-symbol.series1 {*/
    /*-fx-background-color: black, white;*/
/*}*/

/*.chart-series-line.series2 {*/
    /*-fx-stroke: crimson;*/
/*}*/
/*.chart-line-symbol.series2 {*/
    /*-fx-background-color: crimson, white;*/
/*}*/


/*.chart-legend-item{*/
    /*-fx-text-fill: #191970;*/
/*}*/

/*.chart-vertical-grid-lines {*/
    /*-fx-stroke: darkgray;*/
/*}*/

/*.chart-horizontal-grid-lines {*/
    /*-fx-stroke: darkgray;*/
/*}*/

/*.tool-bar .spacer {*/
    /*-fx-padding: 0 30px 0 0;*/
/*}*/


